appnope
attrs
backcall
bleach
Boruta
certifi
chardet
Click
cycler
decorator
defusedxml
entrypoints
Flask
idna
importlib-metadata
inflection
itsdangerous
jedi
Jinja2
joblib
jsonschema
kiwisolver
lxml
MarkupSafe
matplotlib
mistune
more-itertools
numpy
pandas
pandocfilters
parso
pexpect
pickleshare
prometheus-client
prompt-toolkit
ptyprocess
Pygments
pyparsing
pyrsistent
python-dateutil
pytz
PyYAML
pyzmq
requests
scikit-learn
scipy
seaborn
Send2Trash
six
sklearn
tabulate
terminado
testpath
tornado
traitlets
urllib3
wcwidth
webencodings
Werkzeug
widgetsnbextension
xgboost == '0.90'
zipp